<table *ngIf="customers">
    <thead>
        <tr class="custList">
            <th colspan="8">
                <span>
                    Customers
                </span>
            </th>
        </tr>
        <tr class="custList">
            <th colspan="8">
                <span>
                    Your registered users are here
                </span>
            </th>
        </tr>
        <tr class="custList">
            <th *ngFor = "let col of  columns">
                <span class="data"> {{col.title}}</span>
            </th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor = "let custObj of  customers" class="custListBody">
            <td *ngFor = "let col of  columns">
                <span class="data"> {{custObj[col.id] | transform : col.id}}</span>
            </td>
        </tr>
    </tbody>        
</table>
<div class="searchBlock">
    <div>
        Search Here
    </div>
    <div>
        <input type="text" class="inputCtrl" [(ngModel)] ="searchKey" >
        <button type="button" class="btnSearch" (click) ="searchCustomers()" >
            Search
        </button>
    </div>
</div>
<table *ngIf="customersFound.length>0" border="1" >
    <thead>
        <tr class="custList">
            <th colspan="8">
                Your search results are here
            </th>
        </tr>
        <tr class="custList">
            <th *ngFor = "let col of  columns">
                <span class="data"> {{col.title}}</span>
            </th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor = "let custObj of  customersFound" class="custListBody">
            <td *ngFor = "let col of  columns">
                <span class="data"> {{custObj[col.id]}}</span>
            </td>
        </tr>
    </tbody>        
</table>

<table class="formReg">
    <thead>
        <tr>
            <td colspan="2">
                <div class="custList">
                    Add User Here!!!
                </div>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                FirstName
            </td>
            <td>
                <input type="text" class="inputCtrl"  [(ngModel)] ="customer.FirstName" >
            </td>
        </tr>
        <tr>
            <td>
                LastName
            </td>
            <td>
                <input type="text"  class="inputCtrl" [(ngModel)] ="customer.LastName" >
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                <input type="text"  class="inputCtrl" [(ngModel)] ="customer.Email" >
            </td>
        </tr>
        <tr>
            <td>
                DateOfBirth
            </td>
            <td>
                <input type="text"  class="inputCtrl" [(ngModel)] ="customer.DateOfBirth" >
            </td>
        </tr>
        <tr>
            <td>
                Gender
            </td>
            <td>
                <input type="radio" value="1"  [(ngModel)] ="customer.Gender" >
                <label>Male</label>
                <input type="radio" value="2" [(ngModel)] ="customer.Gender" >
                <label>FeMale</label>
            </td>
        </tr>
        <tr>
            <td>
                Education
            </td>
            <td>
                <div *ngFor="let edu of education;">
                    <label>
                        <input type="checkbox" (change)="onChange(edu.name, $event)" >
                        {{edu.name}}</label>
                </div>               
            </td>
        </tr>
        <tr>
            <td>
                About
            </td>
            <td>
                <textarea type="text"  class="TxtAreaCtrl" [(ngModel)] ="customer.About" > </textarea>
            </td>
        </tr>
        <td colspan="2">
            <div class="txtCentr">
                <button type="button" (click) ="addCustomer()" class="btnSearch" >
                    ADD
                </button>
            </div>
        </td>

    </tbody>        
</table> 


<div *ngIf="msgText" class="custList msgBlck">
    {{msgText}}
</div>